body, html {
 
  font-family: Calibri, Helvetica, sans-serif;
  font-size:16px;
}

* {
  box-sizing: border-box;
}
#intro {
  width: 100%;
  position: relative; 
  /* background: url("../img/header.jpg") center bottom no-repeat; */
  background: url("images/banner.jpg") center bottom no-repeat;
  background-size: cover;
  padding: 600px 0 120px 0;
}

#intro .intro-img {
  width: 50%;
  float: right;
}
.banner{
   max-width: 100%;
   height: auto; 
}
.col-sm-4{
	padding:10px;
}
section{
	width:100%;
	background-color:#71C9BD;
	
}
i{
	size:7x;
}